
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.montserrat {
    font-family: 'Montserrat';
}


.bd-navbar {
    padding: 0.75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95));
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}
.icon-item{
    weigth: 26px;
    height: 26px;
}
.logo img{
    height: 30px;
}

.text-phone{
    font-size: 16px;
    font-weight: 500;
}
.guitar-text-color{
   color: #f8f9fa;
}

@media (max-width:768px){
    .guitar-background{
        background: center / contain no-repeat url("/images/guitar-dark-sm-min.jpg") ;
        background-size: cover;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        min-height: 50vh!important;
    }
}
@media (min-width:768px) {
    .guitar-background {
        background: center / contain no-repeat url("/images/bgn-min.jpg");
        background-size: cover;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        min-height: 100vh!important;
    }
}
.guitar-background::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgb(59,0,113);
    background: linear-gradient(180deg, rgba(59,0,113,0.9699230033810399) 0%, rgba(80,0,107,0.9167017148656338) 28%, rgba(130,77,3,0.6561975131849616) 69%, rgba(189,113,0,0.26684177088804273) 100%);
}

.bg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
.bg-overlay:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    background: rgb(59,0,113);
    background: linear-gradient(180deg, rgba(59,0,113,0.9699230033810399) 0%, rgba(80,0,107,0.9167017148656338) 28%, rgba(130,77,3,0.6561975131849616) 69%, rgba(189,113,0,0.26684177088804273) 100%);
}
.img-team{

}
.team-bg {
    background-color: #eee;
}
.card-title{
color: #ffffff;
}
.logo-height{
    width: 15%!important;
}
.card-pricing.card-background ul li {
    color: #fff;
    border-color: rgba(255,255,255,.3);
}
.card-pricing ul li {
    color: #888;
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(136, 136, 136, .3);
}
.card-pricing.card-background .card-body {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.card-background .card-body {
    position: relative;
    z-index: 2;
    min-height: 370px;
    max-width: 530px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-pricing {
    text-align: center;
}
.card-background {
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.card {
    border: 0;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 5px 25px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 20%);
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}


.card-background:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0,0,0,.63);
    border-radius: 0.25rem;
}